body {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h5 {
    font-family: 'Montserrat-black', sans-serif;
    line-height: 1.5;
}

p {
    color: #413F42;
    line-height: 1.5;
}

li {
    color: #413F42;
    line-height: 2;
}

/* Navbar */

.navbar-toggler {

    display: inline-block;
    position: absolute;
    left: 90%;
}

.navbar {
    background-color: #0081C9;
}

.nav-pic {
    width: 15%;
    border-radius: 50%;
    margin-right: 2%;
}

.nav-heading {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    display: inline-block;
    margin-right: 25%;
    padding-top: 0;
    padding-bottom: 0;
}

#navbarSupportedContent {
    margin-right: 20%;
}

.nav-link {
    color: whitesmoke;
}

.register {
    color: #0081C9;
    background-color: white;
    border-radius: 30%;
}

.register:hover {
    color: #81C6E8;
}

.nav-item {
    font-size: 1.1rem;
    padding-right: 10%;
}

/* Title */

.title-div {
    margin-top: 5%;
}

.title-h1 {
    color: #0081C9;
    font-weight: 600;
}

.title-h2 {
    color: #0081C9;
    font-weight: 600;
    margin-top: 5%;
}

.title-h3 {
    color: #0081C9;
    font-weight: 600;
}

.title-p {
    font-size: 1.2rem;
}

.title-img {
    width: 90%;
}

.title-first-col {
    padding-top: 1%;
    padding-left: 12%;
    text-align: left;
}

.title-second-col {
    padding-right: 15%;
}

/* MiniForm */

label {
    display: block;
}

input {
    margin-top: 6%;
}

/* form */

.fa-arrow-right {
    color: white;
    position: relative;
    top: 40%;
    scale: 1.8;
}

.form-div {
    background-color: #0081C9;
    margin-top: 4%;
    padding-left: 15%;
}

.labelClass-in-form {
    color: white;
    padding-right: 70%;
}

.miniform-in-form {
    padding-top: 10%;

}

.form-third-col {
    padding: 0;
}

.form-button {
    background-color: white;
    border-style: none;
    color: #0081C9;
    font-size: 1.3rem;
    position: relative;
    margin-top: 10%;
    margin-bottom: 10%;
    left: 20%
}

.form-button:hover {
    background-color: white;
    color: #81C6E8
}

.invalid-paragraph {
    display: inline-block;
    color: red;
    padding-top: 5%;
    padding-right: 20%;
}

/* converted */

.converted-div {
    background-color: #0081C9;
}

.converted-h2 {
    padding-bottom: 2%;
    color: white;
}

.converted-p {
    color: white;
}

/* MiniCurrencyInformation */

.miniCurrencyInformation-div {
    padding-bottom: 7%;
}

.miniCurrencyInformation-p {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding-top: 2%;
    width: 75%;
}

.miniCurrencyInformation-link {
    color: #0081C9;
}

.miniCurrencyInformation-h3 {
    font-size: 1.5rem;
}

/* currency information */

.currencyInformation-div {
    border-radius: 5%;
    box-shadow: 10px 10px 10px 10px #E9E8E8;
    margin-top: 6%;
    width: 60%;
    text-align: left;
    padding-left: 4%;
}

.currencyInformation-row {
    padding-top: 5%;
}

/* Download app */

.downloadApp-div {
    border-radius: 5%;
    box-shadow: 10px 10px 10px 10px #E9E8E8;
    margin-top: 8%;
    width: 60%;
}

.downloadApp-img {
    border-radius: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.downloadApp-h3 {
    color: #0081C9;

    padding-bottom: 3%;
}

.downloadApp-p {
    color: #413F42;

    padding-bottom: 3%;
    width: 90%;
}

.downloadApp-second-col {
    padding-top: 8%;
}

.downloadApp-button {
    margin-left: 2%;
}

/* footer */

footer {
    background-color: #0081C9;
    margin-top: 5%;
}

.footer-icons {
    color: white;
    padding-top: 3%;
    padding-left: 2%;
}

.footer-p {
    color: white;
    padding: 3% 0;
}

/* currency file */

.currency-div {
    text-align: left;
    width: 50%;
}

.currency-first-h1 {
    font-weight: bold;
    display: inline-block;
    margin-top: 3%;

}

.currency-second-h1 {
    font-weight: bold;
    display: inline-block;
    margin-top: 3%;
    padding-left: 20%;
}

.currency-second-h1-british {
    font-weight: bold;
}

.currency-h3 {
    color: #0081C9;
    margin: 4% 0;
}

.currency-li {
    margin-top: 3%;
}

/* Reports */

.reports-h1 {
    color: #0081C9;
    font-weight: bold;
    padding-top: 2%;
    padding-bottom: 2%;
}

.reports-h1-div {
    background-color: #E9E8E8;
    border-radius: 10%;
    margin-top: 4%;
    width: 30%;
}

.reports-div {
    background-color: #E9E8E8;
    text-align: left;
    margin-top: 6%;
    padding-left: 15%;
    padding-right: 25%;
}

.reports-h2 {
    color: #0081C9;
    font-weight: bold;
    padding-top: 7%;
    padding-bottom: 7%;
}

/* MiniReports */

.miniReports-div {
    padding-bottom: 6%;
}

.miniReports-h5 {

    font-weight: bold;
}

.miniReports-ul {
    margin-top: 5%;
}

.miniReports-li {
    padding-bottom: 3%;
}

.miniReports-a {
    font-weight: bold;
}

/* Register and Login have the same styling */

.register-div {
    box-shadow: 10px 10px 10px 10px #E9E8E8;
    border-radius: 10%;
    text-align: left;
    margin-top: 3%;
    width: 30%;
}

.register-img {
    padding-top: 10%;
    width: 20%;
}

.register-h3 {
    font-weight: bold;
    padding-top: 5%;
}

.register-button {
    margin-top: 10%;
    margin-bottom: 10%;
    width: 100%;
}

.register-label {
    margin-top: 7%;
}

.register-input {
    margin-top: 0;

}

.register-invalid {
    color: red;
    padding-top: 2%;
    font-size: 0.8rem;
}

/* About */

.about-h1 {
    color: #0081C9;
    font-weight: bold;
    padding-top: 3%;
    padding-bottom: 3%;
}

.about-h1-div {
    background-color: #E9E8E8;
    border-radius: 10%;
    margin-top: 4%;
    width: 25%;
}

.about-div {
    background-color: #E9E8E8;
    text-align: left;
    margin-top: 6%;
    padding-left: 15%;
    padding-right: 25%;
    padding-bottom: 3%;
}

.about-h2 {
    color: #0081C9;
    font-weight: bold;
    padding-top: 7%;
    padding-bottom: 5%;
}

.about-li {
    padding-bottom: 3%;
}

@media (max-width: 1280px) {

    /* Title */

    .title-img {
        padding-top: 10%;
    }

    /* Register and Login */

    .register-div {
        width: 40%;
    }

}

@media (max-width: 1100px) {

    /* Download App */

    .downloadApp-img {
        width: 80%;
    }

    .downloadApp-button {
        margin-bottom: 5%;
    }
}

@media (max-width: 991px) {

    /* Navbar */

    .register {
        color: white;
        background-color: initial;
        border-radius: initial;
    }

    /* Title */

    .title-first-col {
        text-align: center;
        padding-left: 0;
    }

    .title-second-col {
        padding-right: 0;
    }

    .title-img {
        padding-top: 5%;
        width: 50%;
    }

    /* Form */

    .form-div {
        padding-left: 10%;
        padding-right: 0;
    }

    /* Download App */

    .downloadApp-img {
        width: initial;
    }

    .downloadApp-button {
        margin-bottom: 5%;
    }

}

@media (max-width: 575px) {

    /* Title */

    .title-first-col {
        padding-left: 3%;
    }

    .title-img {
        width: 100%;
        padding-right: 10%;
        padding-top: 40%;
    }

    /* Form */

    .form-div {
        padding-right: 7%;
    }

    /* Currency Information */

    .currencyInformation-div {
        margin-top: 15%;
    }

    /* Download App */

    .downloadApp-div {
        margin-top: 12%;
    }

    .downloadApp-img {
        scale: 0.8;
    }

    .downloadApp-first-col {
        padding-left: 0;
    }

    /* Register and Login */

    .register-div {
        width: 60%;
    }
}